#bar {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
}

#recherche {
  background-color: #eaeaea;
}
#recherche #bar {
  padding: 0.8rem;
}
#recherche .search-bar {
  font-family: roboto, serif, sans-serif;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}
#recherche ::placeholder {
  color: black;
  padding-left: 1.1rem;
}

#top {
  background-color: #f6f6f6;
  padding: 1.3rem 0 3.5rem 0;
}
#top #top-text {
  font-family: roboto, serif, sans-serif;
}
#top #top-text h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}
#top #top-text .fine-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
  color: #363636;
  padding-bottom: 0.7rem;
}

#fonctionnement {
  padding: 1.8rem 0;
}
#fonctionnement .title-section {
  padding: 3em 1.3rem;
  font-family: roboto, serif, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (min-width: 1225px) {
  #fonctionnement .title-section {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
@media screen and (max-width: 1224px) and (min-width: 768px) {
  #fonctionnement .title-section {
    display: flex;
    justify-content: center;
    padding: 0 0 1rem 0;
  }
}

@media screen and (min-width: 1225px) {
  .fonction {
    display: flex;
  }
}

.fonctionnement-list {
  display: flex;
  font-family: roboto, serif, sans-serif;
  padding: 0 4.5rem 0 1rem;
  background-color: #f6f6f6;
  margin: 1.5rem 0 1.5rem 2rem;
  border-radius: 1.2rem;
  height: 4.5rem;
  box-shadow: 0px 5px 10px #d4d3d3;
  width: 15rem;
  height: 4rem;
  position: relative;
}
.fonctionnement-list:hover {
  transform: scale(1.1);
  background-color: #f5edff;
}
.fonctionnement-list .horizon {
  display: flex;
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}
.fonctionnement-list .fa-mobile-alt:hover, .fonctionnement-list .fa-list-ul:hover, .fonctionnement-list .fa-store:hover {
  color: #9356DC;
}
@media screen and (min-width: 1225px) {
  .fonctionnement-list {
    display: flex;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 1224px) and (min-width: 768px) {
  .fonctionnement-list {
    display: flex;
    margin: 1rem auto;
  }
}

.number {
  display: flex;
  background-color: #9356DC;
  height: 0.4rem;
  padding: 0.3rem 0.5rem 0.8rem 0.5rem;
  color: white;
  border-radius: 20rem;
  font-size: 0.8rem;
  font-weight: 300;
  position: absolute;
  left: -1em;
  top: 0.9em;
}

#restaurants {
  padding: 1.8rem 0;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1225px) {
  #restaurants {
    display: flex;
    flex-direction: column;
  }
}
#restaurants .title-section {
  padding: 3em 1.3rem;
  font-family: roboto, serif, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (min-width: 1225px) {
  #restaurants .title-section {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
@media screen and (max-width: 1224px) and (min-width: 768px) {
  #restaurants .title-section {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
@media screen and (min-width: 1225px) {
  #restaurants .cards {
    display: flex;
    margin: auto;
  }
}

.photo {
  position: relative;
}
.photo .nouveau {
  background-color: #99e2d0;
  height: 1.5rem;
  width: 4.5rem;
  font-family: roboto, serif, sans-serif;
  font-size: 0.9rem;
  color: #008766;
  border-radius: 0.2rem;
  position: absolute;
  left: 16rem;
  top: 1rem;
}
@media screen and (min-width: 1225px) {
  .photo .nouveau {
    top: 9rem;
    left: 12rem;
  }
}
@media screen and (max-width: 1224px) and (min-width: 768px) {
  .photo .nouveau {
    left: 29rem;
  }
}
.photo .nouveau .nouveau-text {
  position: absolute;
  top: -0.7rem;
  left: 0.5rem;
}
.photo .photo-resto {
  width: 20rem;
  height: 11rem;
  display: flex;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
@media screen and (min-width: 1225px) {
  .photo .photo-resto {
    width: 10rem;
    border-radius: 1rem 0 0 1rem;
    margin: 0 0 0 1.5rem;
  }
}

.overlay {
  width: 20rem;
  height: 4rem;
  margin: 0 auto 1rem auto;
  box-shadow: 0px 5px 10px #d4d3d3;
  border-radius: 0 0 1rem 1rem;
  padding-top: 1rem;
  position: relative;
}
@media screen and (min-width: 1225px) {
  .overlay {
    width: 10rem;
    height: 10rem;
    border-radius: 0 1rem 1rem 0;
  }
}
.overlay .nom {
  font-family: roboto, serif, sans-serif;
  padding: 0 0 0 1rem;
  position: absolute;
  top: 1rem;
  font-size: 1.2rem;
}
.overlay .ville {
  font-family: roboto, serif, sans-serif;
  padding: 0 0 0 1rem;
  position: absolute;
  top: 3rem;
  font-weight: 300;
  font-size: 1.1rem;
}
@media screen and (min-width: 1225px) {
  .overlay .ville {
    top: 5rem;
  }
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}
@media screen and (min-width: 1225px) {
  .sk-cube-grid {
    margin: 15rem 32rem;
  }
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background-color: #9356DC;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background-color: #9356DC;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  background-color: #9356DC;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  background-color: #9356DC;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background-color: #FF79DA;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background-color: #9356DC;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background-color: #9356DC;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  background-color: #9356DC;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background-color: #9356DC;
}

.btn {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 3rem;
  width: 13.5rem;
  background-image: linear-gradient(175deg, #FF79DA, #9356DC);
  border-radius: 15rem;
  border: none;
  box-shadow: 3px 3px 10px #c4c4c4;
  margin-bottom: 3rem;
}
.btn:hover {
  filter: brightness(1.25);
  outline: 0;
  transform: scale(1.1);
}
.btn .btn-text {
  font-family: roboto, serif, sans-serif;
  padding: 0.8rem 0;
  color: white;
  font-size: 1rem;
}

.heart-button {
  display: flex;
  flex-direction: row;
}
.heart-button #disable {
  position: relative;
  left: 271px;
  top: 7px;
  font-size: 1.5rem;
}
.heart-button #disable:hover {
  opacity: 0;
}
@media screen and (min-width: 1224px) {
  .heart-button #disable {
    left: 120px;
    top: 8rem;
  }
}
.heart-button #enable {
  color: #FF79DA;
  background: -webkit-linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  position: absolute;
  left: 16.9rem;
  top: 1.4rem;
  font-size: 1.6rem;
  opacity: 0;
}
.heart-button #enable:hover {
  opacity: 1;
  animation: fadein 0.5s;
}
@media screen and (min-width: 1224px) {
  .heart-button #enable {
    left: 7.4rem;
    top: 9rem;
  }
  .heart-button #enable:hover {
    opacity: 1;
    animation: fadein 0.5 linear 0s 1 backwards;
  }
}

.heart-button-france {
  display: flex;
  flex-direction: row;
}
.heart-button-france #disable-menu {
  position: relative;
  left: 4.9rem;
  top: 2.5rem;
  font-size: 1.5rem;
}
.heart-button-france #enable-menu {
  color: #FF79DA;
  background: -webkit-linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  position: absolute;
  left: 20.1rem;
  top: 2.4rem;
  font-size: 1.7rem;
  opacity: 0;
}
.heart-button-france #enable-menu:hover {
  opacity: 1;
  animation: fadein 0.5s;
}

.heart-button-note {
  display: flex;
  flex-direction: row;
}
.heart-button-note #disable-menu {
  position: relative;
  left: 1rem;
  top: 2.5rem;
  font-size: 1.5rem;
}
.heart-button-note #enable-menu {
  color: #FF79DA;
  background: -webkit-linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  position: absolute;
  left: 20.4rem;
  top: 2.4rem;
  font-size: 1.7rem;
  opacity: 0;
}
.heart-button-note #enable-menu:hover {
  opacity: 1;
  animation: fadein 0.5s;
}

.heart-button-delice {
  display: flex;
  flex-direction: row;
}
.heart-button-delice #disable-menu {
  position: relative;
  left: 1.7rem;
  top: 2.5rem;
  font-size: 1.5rem;
}
.heart-button-delice #enable-menu {
  color: #FF79DA;
  background: -webkit-linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  position: absolute;
  left: 20.1rem;
  top: 2.4rem;
  font-size: 1.7rem;
  opacity: 0;
}
.heart-button-delice #enable-menu:hover {
  opacity: 1;
  animation: fadein 0.5s;
}

.heart-button-palette {
  display: flex;
  flex-direction: row;
}
.heart-button-palette #disable-menu {
  position: relative;
  left: 1.1rem;
  top: 2.5rem;
  font-size: 1.5rem;
}
.heart-button-palette #enable-menu {
  color: #FF79DA;
  background: -webkit-linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  position: absolute;
  left: 20.1rem;
  top: 2.4rem;
  font-size: 1.7rem;
  opacity: 0;
}
.heart-button-palette #enable-menu:hover {
  opacity: 1;
  animation: fadein 0.5s;
}

.fa-map-marker-alt {
  padding-left: 1.5rem;
}

.fa-mobile-alt, .fa-list-ul {
  color: #7e7e7e;
  padding: 0 1.5rem;
}

.fa-store {
  color: #7e7e7e;
  padding: 0 1.5rem;
  font-size: 1rem;
}

.fa-list-ul {
  font-size: 1.2rem;
}

.fa-mobile-alt {
  font-size: 1.3rem;
  padding-right: 1.6rem;
}

@keyframes slide-left {
  from {
    width: 0%;
  }
  to {
    width: 10%;
  }
}
@keyframes slide-left-desktop {
  from {
    width: 0;
  }
  to {
    width: 1.8%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes filling-heart {
  from {
    font-size: 0rem;
  }
  to {
    font-size: 1.7rem;
  }
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes ligth {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.25);
  }
}
@keyframes reduce {
  from {
    margin-right: 0rem;
  }
  to {
    margin-right: -40rem;
  }
}
@keyframes grow {
  from {
    height: 4rem;
    width: 15rem;
  }
  to {
    height: 4.5rem;
    width: 15.5rem;
  }
}
a {
  text-decoration: none;
  color: black;
}

footer a {
  color: #f6f6f6;
}

.index {
  position: relative;
  animation: fadein 4s cubic-bezier(0.95, 0.01, 1, -0.02) 0s 1;
}

.sk-cube-grid {
  position: absolute;
  top: 12rem;
  left: 11rem;
  display: block;
  animation: fadein 0.1s linear 3s 1 reverse forwards;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: shrikhand, serif, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  padding: 0.7rem;
  margin: 0;
}

header {
  box-shadow: inset 0px -2px 2px 0px rgba(45, 50, 50, 0.3);
  position: relative;
}
header .fa-arrow-left {
  font-size: 1.2rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}

footer {
  background-color: #363636;
}
footer .logo-footer {
  font-family: shrikhand, serif, sans-serif;
  display: flex;
  color: #f6f6f6;
  font-size: 1.1rem;
  padding: 1rem 0 0 1rem;
  margin: 0;
  font-weight: 200;
}
footer ul {
  font-family: roboto, serif, sans-serif;
  font-size: 1rem;
  list-style: none;
  color: #f6f6f6;
  padding: 0 0 0 1rem;
}
footer ul li {
  padding: 0.2rem 0;
}
footer ul .weight {
  font-weight: 300;
}
footer .fa-utensils {
  margin-right: 0.9rem;
}
footer .fa-hands-helping {
  margin-right: 0.5rem;
}

.footer-menu {
  position: absolute;
  width: 100%;
  top: 87rem;
}

.photo {
  width: 100%;
  position: relative;
}

.background {
  position: absolute;
  top: 16.5rem;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
}
.background .name {
  justify-content: start;
  margin: 1.5rem 0 0 1rem;
  font-weight: 500;
}

.dish {
  font-family: roboto, serif, sans-serif;
  margin-bottom: 2rem;
  position: relative;
}
.dish .underline {
  border-bottom: 3px solid #99E2D0;
}
.dish h2 {
  font-size: 1.1rem;
  font-weight: 300;
  padding-left: 1.7rem;
}
.dish h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  padding: 0.8rem 0 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish p {
  font-weight: 300;
  margin: 0.3rem 0 1rem 0;
  padding-left: 1rem;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meal {
  display: flex;
  background-color: transparent;
  margin: 0 auto 1rem;
  width: 95%;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px #d4d3d3;
  animation: fadein 1.5s;
  justify-content: space-between;
}
.meal .description {
  margin: 0 1rem 0 0;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  position: relative;
}
.meal .price {
  display: flex;
  display: flex;
  font-size: 1rem;
  width: 13%;
  margin-left: 1rem;
  position: relative;
  right: 0rem;
  top: 1.5rem;
}
@media screen and (min-width: 1225px) {
  .meal .price {
    width: 5%;
  }
}
.meal .check-background {
  background-color: yellow;
  left: 18.5rem;
  padding: 1.5rem 1.8rem 1.8rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  opacity: 0;
  width: 1rem;
  display: flex;
  position: absolute;
}
@media screen and (min-width: 1225px) {
  .meal .check-background {
    padding: 1.5rem 83rem 1.8rem 1.5rem;
  }
}
.meal .check-background:hover {
  background-color: #99E2D0;
  position: relative;
  left: 0rem;
  padding: 1.5em 2rem 1.5rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  opacity: 1;
  animation: slide-left 0.4s linear 0s 1 backwards;
}
@media screen and (min-width: 1225px) {
  .meal .check-background:hover {
    right: 2rem;
    animation: slide-left-desktop 0.4s linear 0s 1 backwards;
  }
}
.meal .check-background:hover .fa-check-circle {
  animation: rotate 0.5s;
  color: white;
  font-size: 1.5rem;
}
.meal .check-background-l {
  background-color: #99E2D0;
  left: 18.5rem;
  padding: 1.5rem 1.8rem 1.8rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  opacity: 0;
  width: 1rem;
  display: flex;
  position: absolute;
}
.meal .check-background-l:hover {
  background-color: #99E2D0;
  position: relative;
  left: 0rem;
  padding: 2em 2rem 2.1rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  opacity: 1;
  animation: slide-left 0.5S;
}
.meal .check-background-l:hover .fa-check-circle {
  animation: rotate 0.5s 0.2s;
  color: white;
  font-size: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
