@import "./utils/mixins";
@import "./utils/variables";
@import "./page/page";
@import "./components/buttons";
@import "./components/icons";
@import "./components/animation";
//general
a{
  text-decoration: none;
  color: black;
}
footer a{
  color: $background-top;
}
.index{
  position: relative;
  animation: fadein 4s cubic-bezier(.95,.01,1,-0.02) 0s 1;
}
.sk-cube-grid{
  position: absolute;
  top: 12rem;
  left: 11rem;
  display: block;
  animation: fadein 0.1s linear 3s 1 reverse forwards;
}

//body
body{
  width: 100%;
  margin: 0;
  padding: 0;
}
//header
h1{
    @include logo;
}
h2{
  font-family: shrikhand, serif, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  padding: 0.7rem;
  margin: 0;
}
header{
  @include ombre;
  position: relative;
    .fa-arrow-left{
  font-size: 1.2rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
}

footer{
  background-color: $footer;
  .logo-footer{
    @include logo-footer;
  }
  ul{
    font-family: roboto, serif, sans-serif;
    font-size: 1rem;
    list-style: none;
    color: $background-top;
    padding: 0 0 1rem 1rem;
    margin: 0;
    @media screen and (min-width: 1225px){
      padding: 0 0 1rem 0;
    }
    @media screen and (max-width: 1224px) and (min-width: 768px){
      padding: 0 0 1rem 0;
    }
    li{
      padding: 0.2rem 0;
      @media screen and (min-width: 1225px){
        text-align: center;
      }
      @media screen and (max-width: 1224px) and (min-width: 768px){
        text-align: center;
      }
    }
    .weight{
      font-weight: 300;
    }
  }
  .fa-utensils{
    margin-right: 0.9rem;
  }
  .fa-hands-helping{
    margin-right: 0.5rem;
  }
  .footer-index{
    @media screen and (min-width: 1225px){
      width: 20%;
      margin: 0 auto;
    }
    @media screen and (max-width: 1224px) and (min-width: 768px){
      width: 30%;
      margin: 0 auto;
    }
  }
}
.footer-menu{
  position: absolute;
  width: 100%;
  top: 87rem;
}
.footer-menu-note{
  position: absolute;
  width: 100%;
  top: 94rem;
}
//menu
.photo{
  width: 100%;
  position: relative;
}
.background{
  position:absolute;
  top: 16.5rem;
  width: 100%;
  background-color: $background-top;
  border-radius: 40px 40px 0 0;
    .name{
    justify-content: start;
    margin: 1.5rem 0 0 1rem;
    font-weight: 500;
  }
}
.dish{
  font-family: roboto,serif,sans-serif;
  margin-bottom: 2rem;
  position: relative;
  .underline{
    border-bottom:3px solid $tertiary-color;
  }
  h3{
    font-size: 1.1rem;
    font-weight: 300;
    padding-left: 1.7rem;
  }
  h4{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    padding: 0.8rem 0 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p{
    font-weight: 300;
    margin: 0.3rem 0 1rem 0 ;
    padding-left: 1rem;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.meal{
  @include meal;
    .description{
      margin: 0 1rem 0 0;
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
      position: relative;
    }
    .price{
      display: flex;
      @include price;
      position: relative;
      right: 0rem;
      top: 1.5rem;
    }  
    .check-background{
      @include check-background;
      } 
    .check-background-l{
      @include check-background-l
    }
}