@keyframes slide-left{
    from{
        margin-left: 50%;
        width: 0%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes rotate{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0);
    }
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes filling-heart{
    from{
        font-size: 0rem;
    }
    to{
        font-size: 1.7rem;
    }
}
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }

  @keyframes ligth{
      0%{
        filter: brightness(1);
      }
      100%{
        filter: brightness(1.25);
      }
  }