.btn{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 3rem;
    width: 13.5rem;
    background-image: linear-gradient(175deg,$secondary-color,$primary-color);
    border-radius: 15rem;
    border: none;
    box-shadow: 3px 3px 10px rgb(196, 196, 196);
        &:hover{
            filter: brightness(1.25);
            outline: 0;
        }
        .btn-text{
            font-family: roboto,serif,sans-serif;
            padding: 0.8rem 0;
            color: white;
            font-size: 1rem;
        }
}
.heart-button{
    display: flex;
    flex-direction: row;
    #disable{
        position: relative;
        left: 17rem;
        top: 0.5rem;
        font-size: 1.5rem;
        @media screen and (min-width: 1224px){
            left: 7.5rem;
            top: 8rem;
        }
    }
    #enable{
    @include gradient-text;
    position: absolute;
    left: 16.9rem;
    top: 1.3rem;
    font-size: 1.7rem;
    opacity: 0;
        &:hover{
            opacity: 1;
            animation: fadein .5s;
        }    
        @media screen and (min-width: 1224px){
        left: 7.4rem;
        top: 8.9rem;
        &:hover{
            opacity: 1;
            animation: fadein 0.5 linear 0s 1 backwards;
        }
    }
    }
}
.heart-button-menu{
    display: flex;
    flex-direction: row;
    #disable-menu{
        position: relative;
        left: 1rem;
        top: 2.5rem;
        font-size: 1.5rem;
    }
    #enable-menu{
    @include gradient-text;
    position: absolute;
    left: 20.1rem;
    top: 2.5rem;
    opacity: 0;
    font-size: 1.6rem;
        &:hover{
            opacity: 1;
            animation: fadein .5s;
        }
    }
}
.heart-button-menu{
    display: flex;
    flex-direction: row;
    #disable-menu-note{
        position: relative;
        left: 1rem;
        top: 2.5rem;
        font-size: 1.5rem;
    }
    #enable-menu-note{
    @include gradient-text;
    position: absolute;
    left: 20.5rem;
    top: 2.5rem;
    font-size: 1.6rem;
    opacity: 0;
        &:hover{
            opacity: 1;
            animation: fadein .5s;
        }
    }
    #disable-menu-france{
        position: relative;
        left: 5rem;
        top: 2.5rem;
        font-size: 1.5rem;
    }
    #enable-menu-france{
    @include gradient-text;
    position: absolute;
    left: 20.3rem;
    top: 2.5rem;
    font-size: 1.6rem;
    opacity: 0;
        &:hover{
            opacity: 1;
            animation: fadein .5s;
        }
    }
    #disable-menu-sens{
        position: relative;
        left: 2rem;
        top: 2.5rem;
        font-size: 1.5rem;
    }
    #enable-menu-sens{
    @include gradient-text;
    position: absolute;
    left: 20.5rem;
    top: 2.5rem;
    font-size: 1.6rem;
    opacity: 0;
        &:hover{
            opacity: 1;
            animation: fadein .5s;
        }
    }
}





