//search-bar
.fa-map-marker-alt{
    padding-left: 1.5rem;
}
//fonctionnement
.fa-mobile-alt,.fa-list-ul{
    color: $icon;
    padding: 0 1.5rem;
}
.fa-store{
    color: #7e7e7e;
    padding: 0 1.5rem;
    font-size: 1rem;
}
.fa-list-ul{
    font-size: 1.2rem;
}
.fa-mobile-alt{
    font-size: 1.3rem;
    padding-right: 1.6rem;
}