@mixin logo {
    font-family: shrikhand, serif, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    padding: 0.7rem;
    margin: 0;
}
@mixin logo-footer {
    font-family: shrikhand, serif, sans-serif;
    display: flex;
    color: $background-top;
    font-size: 1.1rem;
    padding: 1rem 0 0 1rem;
    margin: 0;
    font-weight: 200;
}
@mixin header {
    display: block;
}

@mixin ombre {
    box-shadow: inset 0px -2px 2px 0px rgba(45,50,50,0.3);
}

@mixin fine-text {
    font-size: 1.1rem;
    font-weight: 300;
    color: rgb(54, 54, 54);
}
@mixin title-section {
    padding: 3em 1.3rem ;
    font-family: roboto, serif, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

@mixin fonction-list {
    display: flex;
    font-family: roboto,serif,sans-serif;
    padding: 0 4.5rem 0 1rem;
    background-color: $background-top;
    margin: 1.5rem 0 1.5rem 2rem;
    border-radius: 1.2rem;
    height: 4.5rem;
    @include shadow;
}

@mixin shadow {
    box-shadow: 0px 5px 10px rgb(212, 211, 211);
}
@mixin gradient-text($angle:45deg,$colorFrom:$secondary-color,$colorTo:$primary-color){
    color: $colorFrom;
    background: -webkit-linear-gradient($angle,$colorFrom,$colorTo);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
}
@mixin meal{
    display: flex;
    background-color:transparent;
    margin: 0 auto 1rem ;
    width: 95%;
    border-radius: 1rem;
    @include shadow;
    animation: fadein 1.5s;
    justify-content: space-between;
}
@mixin price{
    display: flex;
    font-size: 1rem;
    width: 13%;
    margin-left: 1rem;
    @media screen and (min-width: 1225px){
        width: 5%;
    }
}
@mixin check-background{
        background-color: yellow;
        left: 18.5rem;
        padding: 1.5rem 1.8rem 1.8rem 1.5rem;
        border-radius: 0 1rem 1rem 0;
        opacity: 0;
        width: 1rem;
        display: flex;
        position: absolute;
        @media screen and (min-width: 1225px){
          padding: 1.5rem 83rem 1.8rem 1.5rem;
      }
            &:hover{
              background-color: $tertiary-color;
              position: relative;
              left: 0rem;
              padding: 1.5em 2rem 1.5rem 1.5rem;
              border-radius: 0 1rem 1rem 0;
              opacity: 1;
              animation: slide-left .40s linear 0s 1 backwards;
              @media screen and (min-width: 1225px){
                right: 2rem;
                animation: slide-left-desktop .40s linear 0s 1 backwards;
              }
              .fa-check-circle{
                animation: rotate .50s;
                color:white;
                font-size: 1.5rem;
            }  
            }
}
@mixin check-background-l {
    background-color: $tertiary-color;
    left: 18.5rem;
    padding: 1.5rem 1.8rem 1.8rem 1.5rem;
    border-radius: 0 1rem 1rem 0;
    opacity: 0;
    width: 1rem;
    display: flex;
    position: absolute;
        &:hover{
          background-color: $tertiary-color;
          position: relative;
          left: 0rem;
          padding: 2em 2rem 2.1rem 1.5rem;
          border-radius: 0 1rem 1rem 0;
          opacity: 1;
          animation: slide-left .50S;
          .fa-check-circle{
            animation: rotate .50s .2s;
            color: white;
            font-size: 1.5rem;
        }  
        }
}

