//color
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;
$search-bar: rgb(234,234,234);
$background-top: rgb(246,246,246);
$icon: rgb(126,126,126);
$nouveau: rgb(153,226,208);
$nouveau-text: rgb(0,135,102);
$footer: rgb(54,54,54);
