//acceuil
main
#bar{
    display: flex;
    justify-content: center;
    background-color: $search-bar;
}
#recherche{
    background-color: $search-bar;
        #bar{
            padding: 0.8rem;
        }
            .search-bar{
                font-family: roboto, serif, sans-serif;
                font-size: 1rem;
                border: none;
                background-color: transparent;
            }
                ::placeholder{
                    color: black;
                    padding-left: 1.1rem; 
                }
}
#top{
   background-color: $background-top;
   padding: 1.3rem 0 3.5rem 0;
    #top-text{
        font-family: roboto,serif,sans-serif;
            h2{
                display: flex;
                justify-content: center;
                text-align: center;
                margin-bottom: 0;
            }
            .fine-text{
                display: flex;
                justify-content: center;
                text-align: center;
                @include fine-text;
                padding-bottom: 0.7rem;
            }
    }
}
#fonctionnement{
    padding: 1.8rem 0;
    .title-section
    {
        @include title-section;
        @media screen and (min-width: 1224px){
        display: flex;
        justify-content: center;
        padding: 0;
    }

    }

}
.fonction{
    @media screen and (min-width: 1224px){
        display: flex;
    }
}
.fonctionnement-list{
    @include fonction-list;
    width: 15rem;
    position: relative;
    .horizon{
        display: flex;
        padding-top: 0.5rem;
        font-weight: 500;
        font-size: 1rem;
    }
    &.rose{
        background-color: rgb(245,237,255);
    }
    @media screen and (min-width: 1224px){        
        display: flex;
        margin: 1rem auto;
    }
}
.number{
    display: flex;
    background-color: $primary-color;
    height: 0.5rem;
    padding: 0.4rem 0.5rem 0.7rem 0.5rem;
    color: white;
    border-radius: 20rem;
    font-size: 0.8rem;
    font-weight: 300;
    position: absolute;
    left: -1em;
    top: 0.9em;
}
#restaurants{
    padding: 1.8rem 0;
    background-color: $background-top;
    @media screen and (min-width: 1224px){
        display: flex;
        flex-direction: column;
    }
    .title-section
    {
        @include title-section;
        @media screen and (min-width: 1224px){
        display: flex;
        justify-content: center;
        padding: 0;
    }
    }
    .cards{
        @media screen and (min-width: 1224px){
            display: flex;
            margin: auto;
        }
    }
}
.photo{
    position: relative;
    .nouveau{
        background-color: $nouveau;
        height: 1.5rem;
        width: 4.5rem;
        font-family: roboto, serif, sans-serif;
        font-size: 0.9rem;
        color: $nouveau-text;
        border-radius: 0.2rem;
        position: absolute;
        left: 16rem;
        top: 1rem;
        @media screen and (min-width: 1224px){
            top: 9rem;
            left: 12rem;
        }
        .nouveau-text{
            position: absolute;
            top: -0.7rem;
            left: 0.5rem;
        }
    }
    .photo-resto{
        width: 20rem;
        height: 11rem;
        display: flex;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
        @media screen and (min-width: 1224px){
            width: 10rem;
            border-radius: 1rem 0 0 1rem ;
            margin: 0 0 0 1.5rem;
        }
        
    }
}
.overlay{
    width: 20rem;
    height: 4rem;
    margin: 0 auto 1rem auto;
    @include shadow;
    border-radius: 0 0 1rem 1rem;
    padding-top: 1rem;
    position: relative;
    @media screen and (min-width: 1224px){
        width: 10rem;
        height: 10rem;
        border-radius: 0 1rem 1rem 0 ;
    }
    .nom{
        font-family: roboto, serif, sans-serif;
        padding: 0 0 0 1rem;
        position: absolute;
        top: 1rem;
        font-size: 1.2rem;
    }
    .ville{
        font-family: roboto, serif, sans-serif;
        padding: 0 0 0 1rem;
        position: absolute;
        top: 3rem;
        font-weight: 300;
        font-size: 1.1rem;
        @media screen and (min-width: 1224px){
            top: 5rem;
        }
    }
}
//loader
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    @media screen and (min-width: 1224px){
        margin: 15rem 32rem;
    }
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; 
            background-color: $primary-color;
        }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; 
            background-color: $primary-color;
        }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; 
            background-color: $primary-color;
        }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
            background-color: $primary-color;
        }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
            background-color: $secondary-color;
        }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; 
            background-color: $primary-color;
        }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; 
            background-color: $primary-color;
        }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; 
            background-color: $primary-color;
        }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; 
            background-color: $primary-color;
        }
